* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  font-size: 0.9rem;
  color: #FFFFFF;
}

nav i {
  font-size: 2em;
  margin-right: 0.5em;
}

nav h2 {
  font-weight: 500;
}